body {
    display: flex;
    background:rgb(214, 214, 205) ;
    justify-content: center;
}

.wrapper {
    width: 1200px;
}

.topnav {
    background-color:rgb(21, 14, 59) ;
    overflow: hidden;
    padding-left: 20px;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 2%;
    padding-left: 20px;
  }
  .topnav a:hover {
    background: rgb(182, 181, 181);
    color: black;
  }
  .topnav a.active {
    background-color: rgb(66, 54, 96);
    color: white;
    padding-left: 20px;
  }

  .content {
    margin-top: 80px;
    width: 100%;
    background:rgb(230, 229, 233);
    color: black;
  }

  .omfanny {
  
    line-height: 180%;
    font-size: larger;
    padding: 15px;
  }
  
  .omfanny img {
    width: 25%;
    height: auto;
    float: right;
    padding: 15px;

  }


  #plugg {
    width: 35%;
    float: left;
  }

  #motivation {
    width: 40%;
  }